API_HOST=FILL_ME
API_PORT=FILL_ME
API_CORS_ORIGINS=FILL_ME # Optional (default to ['*'])
API_CORS_HEADERS=FILL_ME # Optional (default to ['*'])
API_LOGS_COMBINED_PATH=FILL_ME # Optional (default to 'logs/combined.log')
API_LOGS_ERROR_PATH=FILL_ME # Optional (default to 'logs/error.log')
API_SALT_ROUNDS=FILL_ME # Optional (default to 10)
API_SESSION_SECRET=FILL_ME
API_SESSION_SECURE=FILL_ME # Optional (default to 'false')
API_SESSION_HTTP_ONLY=FILL_ME # Optional (default to 'false')
API_SESSION_MAX_AGE=FILL_ME # Optional (default to 86400000)

POSTGRES_HOST=FILL_ME
POSTGRES_PORT=FILL_ME
POSTGRES_USER=FILL_ME
POSTGRES_PASSWORD=FILL_ME
POSTGRES_DATABASE=FILL_ME
POSTGRES_SCHEMA=FILL_ME
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=${POSTGRES_SCHEMA}"

REDIS_HOST=FILL_ME
REDIS_PORT=FILL_ME
REDIS_PASSWORD=FILL_ME
REDIS_DATABASE=FILL_ME
REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DATABASE}
